@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.input{
    @apply rounded px-2 py-1.5 ;
    @apply focus:outline-none focus:shadow-2xl;
    @apply transition duration-300;
    @apply my-2.5;
}

.white-outline{
    @apply hover:outline;
    @apply transition duration-300;
}

.login-button{
    @apply rounded min-h-min h-10 my-4 bg-gradient-to-r from-sky-500 to-sky-600 text-white transition-all duration-75 hover:border-2
}

.nav-button{
    display: inline-block;
    position: relative;
    color: white;
    @apply mx-2;
}

.nav-button:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-button:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.inspection{
    @apply bg-gradient-to-r from-cyan-300 to-cyan-400 rounded my-5 w-2/5 h-64 min-w-fit drop-shadow-xl;
}

.hp-link{
    display: inline-block;
    position: relative;
    color: white;
    @apply mx-10;
    @apply text-xl;
}

.hp-link:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 0, 81);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hp-link:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}